<form>
  <div class="form-group">
    <!-- label+input[type='text'].form-control -->
    <label for="firstName">First Name</label>
    <input required id="firstName" type="text" class="form-control" ngModel name="firstName" #varFN="ngModel" (change)="log(varFN)">
    <div class="alert alert-danger" *ngIf="varFN.touched && !varFN.valid">First Name is required</div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
