<h2><i class="material-icons">vpn_key</i> Change password</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div><mat-form-field>
    <input 
      matInput
      type="password" 
      placeholder="Old password"
      [formControl]="oldPassword">
    <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
    <mat-error *ngIf="oldPassword.errors.validOldPassword">
      Invalid password
    </mat-error>
    
  </mat-form-field></div>

  <div><mat-form-field>
    <input 
      matInput
      type="password" 
      placeholder="New password"
      [formControl]="newPassword">
    <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
    <mat-error *ngIf="newPassword.hasError('required')">
      Required.
    </mat-error>
    <mat-error *ngIf="newPassword.hasError('minlength')">
      Minimum length is {{ newPassword.errors['minlength']?.requiredLength }}.
    </mat-error>
  </mat-form-field></div>

  <div><mat-form-field>
    <input 
      matInput
      type="password" 
      placeholder="Confirm password"
      [formControl]="confirmPassword">
    <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
    <mat-error *ngIf="confirmPassword.hasError('required')">
      Required.
    </mat-error>
  </mat-form-field></div>

  <div><button mat-raised-button>Submit</button></div>

</form>